/* -------
Format
------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

/* ------- 
Header
------- */
header {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

div img {
    vertical-align: middle;
}

/* -------
Main Format
-------*/
.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

/* -------
Button Section
------- */
.box {
    padding: 10px 50px;
}

button {
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#task {
    color: white;
    background-color: #45ABEA;
}

#add-section {
    color: gray;
    background-color: white;
    border: 1px solid gray;
}

